build/
bin/
lib/
Projects/vs/.vs/Phoenix/v14/.suo
Projects/vs/log.txt
Projects/vs/Phoenix.sdf
Projects/vs/Phoenix.VC.opendb
Projects/vs/Debug
Projects/vs/Release
Projects/vs/Win32
log.txt
Projects/vs/.vs/
Projects/vs/luaplus-static/Debug
Projects/vs/luaplus-static/Release
Projects/vs/stb/Debug
Projects/vs/stb/Release